<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LadyCoders</title>
  <link href="css/bootstrap.min.css" rel="stylesheets">
  <link href="css/font-awesome.min.css" rel="stylesheets">
  <link href="css/animate.min.css" rel="stylesheets">
  <link href="css/lightbox.css" rel="stylesheets">
  <link href="css/main.css" rel="stylesheets">
  <link href="css/responsive.css" rel="stylesheets">
</head>
<!--/head-->

<body>
<header id="header">
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="social-icons pull-right">
          <ul class="nav nav-pills">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
  <div class="navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
  </div>

</header>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag 'application' %>


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

